@import "../App.scss";

.welcome {
  padding: 50px;
  max-width: 800px;
  margin: auto;
}

.welcome-container {
  align-content: center;
  justify-content: space-between;

  section {
    margin-right: 100px;
  }

  li {
    padding-left: 15px;

    &::before {
      position: absolute;
      margin-left: -15px;
      content: "\2013";
    }
  }
}

.welcome-text {
  margin-bottom: 20px;
}

ul {
  margin-bottom: 15px;
}

#user-salary {
  width: 130px;
}

#user-buttons {
  width: 100%;

  button {
    margin: 0 7%;
  }
}

.bp4-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 20px;
  border: 1px solid var(--primary);
  border-radius: 10px;

  & > * {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile) {
  header {
    margin-bottom: 25px;
  }

  .welcome-container {
    align-items: center;

    section {
      margin-right: 0px;
    }
  }

  .bp4-form-content {
    flex-wrap: wrap;
  }

  .bp4-button {
    margin-bottom: 1rem;
  }
}
